*{
    margin: 0;
    padding: 0;
}



body{
    background: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    height:100vh;
    
}

.container_1{
  position: absolute;
  display:flex;
  flex-direction: column;
  flex-basis: 60%;
  margin:20px;
  gap:20px
}
.container_2{
    position:relative;
    left: 850px;
    top:20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;

}
    
.item_1 {
    background: white;
    width:800px;
    text-align: justify;
    
    
    
}

.item_2{
    background:white;
    width: 300px;
    height: 500px;
}

.item_3{
    background: white;
    width:300px;
  
}
.image{
    width:100%;
    height:auto;
}
h2{
    padding: 10px;
}
p{
    padding:10px;
}
section{
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin-top:20px;
    
}





